{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>{{ post.title|censor }}</h1>
    <h3>{{ post.time|date:'d M Y' }}</h3>
    <hr>
    <p>{{ post.text|censor }} </p>
    <hr>
    Категория:
    {% for category in post_category %}
    -{{category}}-
    {% if category in user_subscribers %}
        <button> <a href="{{post.id}}/unsubscribe/{{category.id}}">Отписаться</a> </button>
        {% else %}
        <button> <a href="{{post.id}}/subscribe/{{category.id}}">Подписаться</a> </button>
        {% endif %}
    {% endfor %}

    <p> Автор поста: {{ post.author }} </p>
    <button> <a href="{{post.id}}/delete">Удалить</a> </button>
{% endblock content %}